.delivery#delivery
	.container
		.row
			.col-xs-12
				h2.delivery__title.gray
					| Доставка
			.col-xs-12.col-sm-4.col-md-3
				img.delivery__pr.img-responsive(src="images/delivery.jpg", alt="Доставка", width="248", height="248")
			.col-xs-12.col-sm-8.col-md-9
				.delivery__text.gray
					p
						| Бесплатная доставка по всему миру!
						br
						| Доставка курьером до двери в 1 170 городов (скачать полный список →), в другие города, а также за пределы РФ доставка осуществляется Почтой России. Отправка товара производится с понедельника по четверг.
					p
						| Доставка в Москву и Санкт-Петербург — 1–2 рабочих дня с момента передачи товара в курьерскую службу.
					p
						| Срочная доставка от 2 до 4 рабочих дней в 100 городов!
						br
						a(href="#")
							| Скачать полный список →
						br
						| Мы работаем с компанией СДЭК, но готовы отправить заказ любыми доступными курьерскими службами — для этого необходимо заранее уведомить нас о желаемом способе доставки.
					p
						| Срок формирования заказа: 1 рабочий день для товара в наличии, от 1 рабочего дня для товаров под заказ.
						br
						| Некоторые модели, размещенные на сайте, были произведены всего один раз под заказ, но мы сможем их повторить довольно быстро.
					p
						| После отправки заказа вы получите на электронный адрес почтовый идентификатор для отслеживания посылки