.edge#edge
	.container
		.row
			.col-xs-12.col-md-6
				.row
					.col-xs-12.col-sm-4
						.edge__item-pr
							i.fa.fa-globe.fa-4x
						.edge__item-title
							| Бесплатная доставка 
							br
							| по всему миру
					.col-xs-12.col-sm-4
						.edge__item-pr
							i.fa.fa-gift.fa-4x
						.edge__item-title
							| Накопительная система 
							br
							| скидок
					.col-xs-12.col-sm-4
						.edge__item-pr
							i.fa.fa-rocket.fa-4x
						.edge__item-title
							| Срочная доставка в 100 
							br
							| город России
			.col-xs-12.col-md-6
				.row
					.col-xs-12.col-sm-4
						.edge__item-pr
							i.fa.fa-archive.fa-4x
						.edge__item-title
							| 500 моделей в наличии 
							br
							| и под заказ
					.col-xs-12.col-sm-4
						.edge__item-pr
							i.fa.fa-credit-card.fa-4x
						.edge__item-title
							| 10 способов оплаты 	
					.col-xs-12.col-sm-4
						.edge__item-pr
							i.fa.fa-briefcase.fa-4x
						.edge__item-title
							|  Выгодные условия 
							br
							| для оптовиков 
							br
							| и дилеров