form.form-2
	.container
		.row
			.col-xs-12.col-sm-6.col-md-4.col-md-offset-2
				input.block(type="email", placeholder="Введите e-mail", required)
			.col-xs-12.col-sm-6.col-md-4
				button(type="submit")
					| Получить каталог через 2 минуты
