header.header
	.container
		.row
			.col-xs-12.col-sm-4.col-md-3
				img.header__logo(src="images/logo.png", alt="Логотип: Русская посуда 1984", width="185", height="144")
			.col-xs-12.col-sm-4.col-sm-offset-4.col-md-3.col-md-push-6.col-md-offset-0
				.header__labels.labels
					.labels__phone
						| 8 800 555-17-49
					.labels__graph
						| Ежедневно с 10 до 20
			.col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-pull-3.col-md-offset-0
				.clearfix.header__items					
						.row
							.col-xs-12.col-sm-4
								.header__item.clearfix
									.header__item-pr
										img(src="http://placehold.it/54x54")
									.header__item-desc
										| Выгодная ценовая политика
							.col-xs-12.col-sm-4
								.header__item.clearfix
									.header__item-pr
										img(src="http://placehold.it/54x54")
									.header__item-desc
										| Широкий географический охват
							.col-xs-12.col-sm-4
								.header__item.clearfix
									.header__item-pr
										img(src="http://placehold.it/54x54")
									.header__item-desc
										| Опыт, репутация, отзывы