main.main#main
	.container
		.row
			.col-xs-12.col-md-3
				ol.main__list
					li
						| Скидка 17% на комплект «Дачный» до 15 января
					li 
						| Скидка 30% на покупку от 100 000 рублей в феврале
					li.active
						| Спеццена на полный ассортимент + промо-материалы в подарок
					li
						| Скидка 17% на комплект «Дачный» до 15 января
			.col-xs-12.col-sm-6.col-md-5
				img.main__pr.main__pr-1(src="images/main-1.jpg", alt="", width="398", height="365")
			.col-xs-12.col-sm-6.col-md-4
				img.main__pr.main__pr-2(src="images/main-2.jpg", alt="", width="392", height="365")
