.nav--illusion
	nav.nav
		.container
			.row
				.col-xs-12
					.clearfix
						button.nav__humburger
							span.humburger
					ul.nav__container
						li.nav__item
							a.nav__link(href="#main")
								| Акции
						li.nav__item
							a.nav__link(href="#pop")
								| Популярные товары
						li.nav__item
							a.nav__link(href="#video")
								| Видео
						li.nav__item
							a.nav__link(href="#wholesale")
								| Оптовикам
						li.nav__item
							a.nav__link(href="#promo")
								|  Галерея
						li.nav__item
							a.nav__link(href="#reviews")
								| Отзывы
						li.nav__item
							a.nav__link(href="#delivery")
								| Доставка и оплата
						li.nav__item
							a.nav__link(href="#main")
								| Уход
						li.nav__item
							a.nav__link(href="#promo-2")
								| Промо