.order#order
	.container
		.row
			.col-xs-12
				h2.order__title.gray
					| Оплата
			.col-xs-12.col-sm-8.col-sm-offset-2
				.order__text.gray
					p
						| Мы принимаем онлайн-оплату! В городах, где доступна курьерская доставка, возможна оплата при получении для заказов до 2 шт. Для оплаты онлайн принимаются банковские карты и электронные кошельки. Для оптовых заказов доступна оплата через р/с.