.pop#pop
	.container
		.row
			.col-xs-12
				h2.pop__title
					| Популярные товары
			.col-xs-12.col-sm-6
				.row
					.col-xs-12.col-sm-6
						.pop__item
							.pop__item-pr
								a(href="#")
									img.img-responsive(src="images/pop-1.jpg", alt="Кувшин", width="250", height="167")
							.pop__item-title
								a(href="#")
									| Кувшин
							.pop__item-desc
								| Традиционный атрибут для подачи напитков
					.col-xs-12.col-sm-6
						.pop__item
							.pop__item-pr
								a(href="#")
									img.img-responsive(src="images/pop-2.jpg", alt="Крынка", width="250", height="167")
							.pop__item-title
								a(href="#")
									| Крынка
							.pop__item-desc
								| Традиционный атрибут для подачи напитков
			.col-xs-12.col-sm-6
				.row
					.col-xs-12.col-sm-6
						.pop__item
							.pop__item-pr
								a(href="#")
									img.img-responsive(src="images/pop-3.jpg", alt="Тарелка", width="250", height="167")
							.pop__item-title
								a(href="#")
									| Тарелка
							.pop__item-desc
								| Традиционный атрибут для подачи горячих блюд
					.col-xs-12.col-sm-6
						.pop__item
							.pop__item-pr
								a(href="#")
									img.img-responsive(src="images/pop-4.jpg", alt="Крынка", width="250", height="167")
							.pop__item-title
								a(href="#")
									| Крынка
							.pop__item-desc
								| Традиционный атрибут для подачи напитков