.promo-2#promo-2
	.container
		.row
			.col-xs-12
				h2.promo-2__title.gray
					| Промо-материалы
			.col-xs-12.visible-xs
				img.img-responsive.promo-2__pr(src="images/promo-2-pr-1.jpg", alt="Промо 2", width="248", height="248")
			.col-xs-12.col-md-6.col-md-push-3
				ul.promo-2__list
					li
						| – Памятка по уходу за товаром
						.small
							| Вы сможете сохранить посуду в идеальном состоянии
					li
						| – Полный каталог в электронном виде
						.small
							| Разместите его в вашем интернетмагазине или учтите при составлении меню ресторана
					li
						| – Макет рекламной стойки и штендера
						.small
							| Чтобы клиенты на точках не проходили мимо
					li
						| – Рекламные буклеты 100 штук + макет
						.small
							| Готовых буклетов хватит, чтобы успеть напечатать новую партию
					li
						| – Футболка с фирменным принтом и кепка
						.small
							| Для промоутера
			.col-xs-12.col-sm-6.col-md-3.col-md-pull-6.hidden-xs
				img.img-responsive.promo-2__pr(src="images/promo-2-pr-1.jpg", alt="Промо 2", width="248", height="248")
			.col-xs-12.col-sm-6.col-md-3
				img.img-responsive.promo-2__pr(src="images/promo-2-pr-2.jpg", alt="Промо 2", width="248", height="248")