.reviews#reviews
	.container
		.row
			.col-xs-12
				h2.reviews__title.gray
					| Отзывы
			.col-xs-12.col-sm-4
				.reviews__item
					img.reviews__item-pr.img-responsive(src="http://placehold.it/340x217", alt="")
			.col-xs-12.col-sm-4
				.reviews__item
					img.reviews__item-pr.img-responsive(src="http://placehold.it/340x217", alt="")
			.col-xs-12.col-sm-4
				.reviews__item
					img.reviews__item-pr.img-responsive(src="http://placehold.it/340x217", alt="")