.wholesale#wholesale
	.container
		.row
			.col-xs-12
				h2.wholesale__title.gray
					| Преимущества для оптовиков
			.col-xs-12.col-sm-4
				.wholesale__item
					img.wholesale__item-pr.img-responsive(src="images/wholesale-1.jpg", alt="", width="250", height="250")
					.wholesale__item-text
						span
							| Ваш магазин пополнится прибыльной линейкой популярных необычных товаров
			.col-xs-12.col-sm-4
				.wholesale__item
					img.wholesale__item-pr.img-responsive(src="images/wholesale-2.jpg", alt="", width="250", height="250")
					.wholesale__item-text
						span
							| В вашем кафе люди будут чувствовать себя частью истории
			.col-xs-12.col-sm-4
				.wholesale__item
					img.wholesale__item-pr.img-responsive(src="images/wholesale-3.jpg", alt="", width="250", height="250")
					.wholesale__item-text
						span
							| Глиняная посуда — символ русских традиций