doctype html
html
	head
		include jade/head.jade
		//- include jade/metrika.html
	body
		include jade/nav.jade
		include jade/header.jade
		include jade/main.jade
		include jade/pop.jade
		include jade/make.jade
		include jade/wholesale.jade
		include jade/promo.jade
		include jade/form-2.jade
		include jade/reviews.jade
		include jade/edge.jade
		include jade/delivery.jade
		include jade/order.jade
		include jade/form-2.jade
		include jade/promo-2.jade

		include jade/scripts.jade